body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.header{
    background: gainsboro;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.title{
    margin-left: 16px;
}
.link-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 16px;
    gap: 14px
}

.main-body{
    background: gainsboro;
    height: 150px;
}